.container {
  display: flex;
  min-height: 100vh;
}

.canvasWrapper {
  position: relative;
  user-select: none !important;
}

/* Wide screen - 50/50 horizontal split */
@media screen and (min-width: 769px) {
  .container {
    flex-direction: row;
  }

  .canvasWrapper {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
  }

  .storyWrapper {
    display: none;
    padding: 40px 40px;
    flex: 1;
    overflow-y: auto;
  }
}

/* Narrow screen - 50/50 vertical split */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .title {
    display: none;
  }

  .canvasWrapper {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
  }

  .storyWrapper {
    display: none;
    padding: 16px;
    flex: 1;
    background-color: rgb(62, 56, 52);
    overflow-y: auto;
  }
}
